@model IEnumerable<CodeFirstApp_L4.Models.Summary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr class=" text-light bg-dark">
        <th>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actor.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actor.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actor.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actor.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SummaryID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SummaryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SummaryID })
        </td>
    </tr>
}

</table>
